/supplementary-tests/
/lambda/
/Prednasky/
**/__pycache__/
*.html
*.zip
*.tgz
*.jar
*.sh
*.png

/proj1/tests/
/proj1/options.txt
/proj1/test.php

/proj2/tests/
/proj2/outputs/
/proj2/test.php
/proj2/parse.php